.standard-body {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.standard-body {
  background-color: #8A9A3C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.loading-body {
  background-color: #8A9A3C;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
